h1 {

  text-decoration: underline;
}



p {
   line-height: 75%;
 }

body

{

  background-image: url("http://walldiskpaper.com/wp-content/uploads/2014/11/Ubuntu-Simple-Wallpaper-Light.jpg");

  background-attachment: fixed;

  background-size: 100%;

  text-align: center;

  color: black;

  font-size:2em;

  font-family: georgia bold;

}



section

{

    border: solid black 2px;
  	border-radius: 2em;
  	background-color: silver;
  	width: 90%;
  	margin: auto;
}
